<div class="container">
  <a routerLink="/administracion/crearproducto" class ="btn  light-blue waves-effect waves-light right"><i class="material-icons left">queue</i>Nuevo producto</a>
<table class="table responsive highlight " >
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listadoregistros">
          <td>{{p.nombre}}</td>
          <td>{{p.precio}}</td>
          <td><img src="{{p.imagen}}"width="100" height="100"></td>
          <td><button routerLink="/administracion/editarproducto/{{p.id}}" class =" btn-floating btn-small cyan waves-effect waves-light right"><i class="material-icons left">edit</i>Editar</button></td>
          <td><button routerLink="/administracion/eliminarproducto/{{p.id}}" class =" btn-floating btn-small waves-effect waves-light red"><i class="material-icons left">delete</i>Eliminar</button></td>
        </tr>
      </tbody>
</table>
</div>
